.Assento{
    width: 100%;
    height: 100%;
}

.Assento h3{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
}

.Assento .assentos{
    padding-left: 30px;
    padding-right: 24px;
    align-items: center;
}

.Assento .assentos .centralizado{
    padding: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.Assento .assentos .assento-numero{
    margin-right: 6px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 12px;
    background: #C3CFD9;
    border: 1px solid #808F9D;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.04em;
 }

 .Assento .legenda{
    width: 286px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Assento .legenda p{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.013em;
    text-align: center;
    color: #4E5A65;
 }

 .Assento .legenda .cor-selecionada, .Assento .legenda .cor-disponivel, .Assento .legenda .cor-indisponivel{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-bottom: 5px;
    border-radius: 17px;
 }

 .Assento .legenda .cor-selecionada{
    background: #8DD7CF;
    border: 1px solid #1AAE9E;
 }

 .Assento .legenda .cor-disponivel{
    background: #C3CFD9;
    border: 1px solid #7B8B99;
 }

 .Assento .legenda .cor-indisponivel{
    background: #FBE192;
    border: 1px solid #F7C52B;
 }

 .Assento .form{
    width: 327px;
    margin: 41px auto;
 }

 .Assento .form label{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #293845;
 }

 .Assento .form input{
    width: 327px;
    height: 51px;
    padding-left: 18px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 3px;
 }

 .Assento .form input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #AFAFAF;
 }

 .Assento .form .botao {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .Assento .form .botao button{
    width: 225px;
    height: 42px;
    margin: 47px auto;
    border: none;
    background: #E8833A;
    border-radius: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
 }